@import "tailwindcss";

* {
  font-family: Inter, sans-serif;
}

body {
  background: #f6fff7;
  color: #1f2937;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #16a34a;
  border-radius: 20px;
}

@keyframes slideUp {
  from {
    transform: translateY(40px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slideUp {
  animation: slideUp 0.25s ease;
}